.servicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    h4 {
    border: 2px solid #b5838d;
    text-align: center;
    padding: 20px;
    display: flex;
   }
   &-corporales {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   }

   &-peluqueria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


   }

   &-manicuria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

   }
}
  
  .footer ul li {
      list-style: none;
    }
  
   