* {
  line-height: 1.6;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover{
  opacity: 0.69;
  color: black;
  text-decoration: underline;
}

.body {
font-family: Arial, Helvetica, sans-serif;
}

@mixin tituloh1 {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffe5ec;
  width: 100%;
  height: 100%;
  font-family: $titulo-font;
}
@mixin parrafo1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;   
  color: black;
  justify-content: center;
  align-content: center;
  padding: 10px;
  text-align: center;
  padding: 50px;
}
 $titulo-font: serif;

 /*navbar*/
 .navbar {
  font-family: Arial, Helvetica, sans-serif;
    .logo {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      display: flex;
      flex-direction: row ;
      margin: 0 50px;
      }  
 }

 @media (max-width: 700px) {
  .navbar-toggler{
    margin-right: 20px;
  }
 }

 /*index*/

 .encabezado {
  margin: 0 100px;
  padding: 0 70px;
  background-image: url(../multimedia/foto-portada.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  padding-left: 50px;
  padding-top: 20px;
  .titulo {
    display: flex;
    justify-content: end;
    font-size: xx-large;
    color: #b5838d;
    margin-right:  10px;
    padding: 0 10px;
    font-size: 36px;  
    animation-duration: 1s;
    animation-name: tituloAnimation2;
    }
  
    @keyframes tituloAnimation2 {
      from {
        font-size: 0px;
        color: black;
      }
      to {
        font-size: 36px;
      }
    }
   
  .subtitulo {
    display: flex;
    justify-content: end;
    margin: 10px;
    padding: 10px;
    color: #6d6875;
    font-size: x-large;
    font-size: 32px;
   animation-name: tituloAnimation3;
   animation-duration: 2s;
  }
  
  @keyframes tituloAnimation3 {
    from {
      font-size: 0px;
      color: black;
    }
    to {
      font-size: 32px;
    }
  }
}

@media (max-width:700px) {
  .navbar {
    padding-right: 50px;
  }
  .encabezado {
    background-image: none;
    margin: 0%;
    height: 100px;
  
  .titulo {
    font-size: 24px;
    justify-content: center;
    align-items: center;
    animation: none;
  }
  .subtitulo{
    font-size: 16px;
    justify-content: center;
    align-items: center;
    animation: none;
  }
}
}
.bienvenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffe5ec;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding:20px;
  padding-bottom: 20px;


 h3 {
  font-size: 16px;
  color: #534044;
  margin-top: 30px;
  font-family: Tw Cen MT	;
  font-weight: bold;
}

 p {
  width: 30%;
  text-align: center;
  line-height: 1.6;
}

.nosotros {
  background-color: black;
  color: white;
  opacity: .69;
  padding: 10px;
  }
}

@media (max-width:700px) {
  .bienvenido{
    display: flex;
    flex-direction: column;
     width: 100%;
     height: 100%;
     margin: 0%;
  
   p {
    width: 60%;
  }
   h3 {
  text-align: center;
  font-size: 14px;
  }
   h4 {
    text-align: center;
    font-size: 20px;
  }
   .nosotros {
    margin-bottom: 10px;
  }
}
}
.encabezado-multimedia-grid {
  display: grid;
  margin: 0 150px;
  padding: 30px;
  gap: 30px;
  grid-template-columns: 2fr 3fr;
  grid-template-rows:  70px 1fr 1fr;

  h3 {
    padding: 20px;
    width : 100% ;
    display: flex ;
    align-items : center ;
    grid-column : 1/3 ;
    grid-row : 1/2;
    justify-content: center;
    }
  img {
      width: 100%;
      height: 100%;
      }
  .multimedia-video {
        grid-column: 1/3;
        grid-row: 3/4;
      }
  .item-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-weight: 600;
        color: black;
      }
  .item-3 {
      display: flex;
      width: 100%;
      height: 100%;
      }
    
  } 

  @media (max-width: 700px) {
    .encabezado-multimedia-grid {
      display: flex;
      flex-direction: column;
      margin: 0%;
    }
  }

  .galeria-prod-txt {
    display: flex ;
    margin: 50px;
    text-decoration: none;
    justify-content: center;
    color: #534044;
    text-align: center;
  }
    .container {
      .row{ 
          .col{
            img {
            width: 100%;
            border-radius: 25%;
          }
        }
    }
    .container-col-txt {
      display: flex;
      flex-direction: column;
      font-weight: bold;
    }
  }
/*servicios */


@keyframes tituloAnimation {
  from {
    color: black;
    font-size: 0px;
  }
  to {
    color: #534044;
    font-size: 38px;
  }
}
.servicios-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr 1fr 1fr;
  margin: 100px;
    
  &-titulo {
    grid-column: 1/3;
    color: #534044;
    animation-name: tituloAnimation;
    animation-duration: 1s;
    font-size: 38px;
    @include tituloh1;
    }


    h6 {
      display: flex;
      justify-content: center;
      color: #534044;
      padding: 10px;
      font-size: 26px;
      font-family: $titulo-font;
      text-transform: uppercase;
    }
    img {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 70px;
      border-radius: 25%;
      min-width: 200px;
    }

    &-info1 {
      padding: 50px;
      @include parrafo1;
    }
    &-info2 {
      background-color: #ffe5ec;
      @include parrafo1 ;
    }
    &-info3 {
      padding: 50px;
      @include parrafo1;
  }

  &-img2 {
    background-color: #ffe5ec;
  }
}

@media (max-width:700px)
{ .servicios-grid {
  display: flex;
  flex-direction: column;
  margin: 0%;

  &-titulo {
    font-size: 30px;
    animation: none;
    padding: 5px;
 }
}
}

/*formulario*/

.bienvenido-form {
  @include tituloh1;
  margin: 0 auto;
  padding:20px;
  padding-bottom: 20px;

      h1 {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 42px;
      }
      p {
        font-size: 18px;
        text-align: center;
        width: 40%;
        font-family: helvetica;
      }
}
.formulario {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 100px;
  width: 50%;
  padding: 30px;

    &-elements {
      width: 80%;
      border: 2px solid black;
    }

    &-elements::placeholder {
      padding: 10px;
    }

    &-elements-txt {
      padding: 10px;
      font-family: $titulo-font;
      font-size: larger;
    }
    
    &-body{
      display:flex;
      flex-direction: column;
      margin: 10px 20px ;
      justify-content: center;
      align-items: center;
      }
  
    .btn {
      width: 35%;
      background-color: white;
      margin-top: 10px;
      border: black 2px solid;
      padding: 3px;
    }
  }
    @media (max-width:700px) {
      .formulario {
        width: 100%;
      }
        .bienvenido-form{
         p {
          width: 70%;
          font-size: 14px;
        }
        h1 {
          font-size: 26px;
        }
      }
    }
/*promociones*/

.container-grid-promo {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 30px;
  padding: 0 100px;

  .item-grid-promo {
    width: 100%;
    height: auto;
    border: 3px solid #6d6875;
    padding: 10px;
    text-align: center;
      .item-grid h4 {
          text-align: center;
        }
      }
        .imagen-promo {
          border-radius: 10%;
          overflow: hidden;
          padding: 5px;
          align-items: center;
          }
    }
  
.subtitulo-promo {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  color: #6d6875;
  font-size: x-large;
  font-size: 32px;
 animation-name: tituloAnimation3;
 animation-duration: .5s;
 font-family: $titulo-font;
}

@media (max-width: 700px) {
  .container-grid-promo {
  display: flex; 
  flex-direction: column;
   
   .subtitulo-promo {
    animation: none;
   }
  }
}
  #carouselExampleFade {
    padding: 50px;
  }

  /*quienes-somos*/

  .staff {
    display: grid;
    margin:0 120px;
    gap: 30px;
    padding:  50px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr ;

    .encabezado-staff {
      display: flex;
      grid-column: 1/4;
      grid-row: 1/2;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #534044;
      h1 {
        animation-name:tituloAnimation;
        animation-duration: .5s;
        font-size: 38px;
        font-family: $titulo-font	;      
      }
      p {
        text-align: center;
      }
    }
    .staff-txt-1 {
      display: flex;
      grid-column: 2/3;
      grid-row: 2/3;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-size: larger;
      background-color: #ffe5ec;
      padding: 20px;
    }
    
    .staff-img-1 {
      background-color: #ffe5ec;
      padding: 20px;  
      font-family: $titulo-font;
    }
    .staff-txt-2 {
      display: flex;
      grid-column: 2/3;
      grid-row: 3/4;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-size: larger;
      background-color: #ffe5ec;
     padding: 20px;
    }
    
    .staff-img-2 {
      grid-column: 3/4;
      grid-row: 3/4;
      background-color: #ffe5ec;
      padding: 20px;  
      font-family: $titulo-font;  
    }
    
    .staff-img-3 {
      grid-column: 1/2;
      grid-row:4/5 ;
      background-color: #ffe5ec;
      padding: 20px;    
      font-family: $titulo-font;
    }
     
    .staff-txt-3 {
      grid-column: 2/3;
      grid-row: 4/5;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: larger;
      background-color: #ffe5ec;
      padding: 20px;
    
    }

    .imagen-empleada{
      width: 100%;
      border: #6d6875 solid 3px;
      height: 70%;
      min-width: 200px;
    }
    
  }

  @media (max-width:700px){
    .staff {
      display: flex;
      flex-direction: column;
      margin: 5%;
      padding: 5px;

        .imagen-empleada {
          width: 60%;
        }

    .encabezado-staff {
      h1 {
        animation: none;
      }
    }
  }
}
  
@keyframes tituloAnimation {
  from {
    color: black;
    font-size: 0px;
  }
  to {
    color: #534044;
    font-size: 38px;
  }
  
}
    /*footer*/ 

    .pie-pagina {
      width: 100%;
      background-color: #ffe5ec; 
      font-family: sans-serif;
    
    & .grupo-1 {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 10px;
        
  
         .box figure {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
  
            img {
              display: flex;
              align-items: center;
              border-radius: 50%;
              width: 90px;
              height: 90px;
              }
            }
           
               .box h2 {
                font-size: 20px;
                font-weight: bold;
                color: black;
                opacity: .79;
               }
                .box a{
                text-decoration: none;
                display: inline-block;
                height: 25px;
                width: 45px;
                color: black;
                text-align: center;
            }
             .box p {
              opacity: 0.69;
              margin-bottom: 10px ;
          }
          .red-social a {
            text-decoration:none;
            display: inline-block;
            max-height: 45px;
            color: black;
            margin-right: 10px;
            text-align: center;
        }
          }
    
    & .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .grupo-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
  } 
    
  @media (max-width:700px) {
    .pie-pagina .grupo-1 {
      display:flex;
      flex-direction: column;
      text-align: center;
    }
  }
  
  
