/*servicios */


@keyframes tituloAnimation {
    from {
      color: black;
      font-size: 0px;
    }
    to {
      color: #534044;
      font-size: 38px;
    }
  }
  .servicios-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr;
    margin: 100px;
      
    &-titulo {
      grid-column: 1/3;
      color: #534044;
      animation-name: tituloAnimation;
      animation-duration: 1s;
      font-size: 38px;
      @include tituloh1;
      }
  
  
      h6 {
        display: flex;
        justify-content: center;
        color: #534044;
        padding: 10px;
        font-size: 26px;
        font-family: $titulo-font;
        text-transform: uppercase;
      }
      img {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 70px;
        border-radius: 25%;
        min-width: 200px;
      }
  
      &-info1 {
        padding: 50px;
        @include parrafo1;
      }
      &-info2 {
        background-color: #ffe5ec;
        @include parrafo1 ;
      }
      &-info3 {
        padding: 50px;
        @include parrafo1;
    }
  
    &-img2 {
      background-color: #ffe5ec;
    }
  }
  
  @media (max-width:700px)
  { .servicios-grid {
    display: flex;
    flex-direction: column;
    margin: 0%;
  
    &-titulo {
      font-size: 30px;
      animation: none;
      padding: 5px;
   }
  }
  }
  